<?xml version="1.0"?>
<robot name="summit_xl_hl_ur5" xmlns:xacro="http://www.ros.org/wiki/xacro"> 


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->
	
	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import summit XL HL base elements -->
	<xacro:include filename="$(find summit_xl_hl_ur5_description)/urdf/summit_xl_hl_ur5_base.urdf.xacro" />
  
	<!-- Import summit XL wheels -->
	<xacro:include filename="$(find summit_xl_hl_ur5_description)/urdf/rubber_wheel.urdf.xacro" />
    
	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />
	
	<!-- Import ur5 gazebo and arm description -->
	<xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  
  
  
	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->
  
	<xacro:property name="PI" value="3.1415926535897931"/>
  
	<!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0.229112" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_y" value="0.2314" />    
	<xacro:property name="wheel_offset_z" value="0.0" />

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />



	<!-- *************** -->
	<!-- Robots Elements -->
	<!-- *************** -->

	<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

	<!-- Summit XL base -->
	<xacro:summit_xl_hl_ur5_base name="summit_xl_hl_ur5" publish_bf="true" hq="${hq}" />
  
	<!-- Gazebo ros control pluggins -->
	<xacro:ros_control/>
	
	<!-- Gazebo skid steering pluggins -->
	<xacro:skid_steering broadcastOdomTF="1"/>
  
  
	<!-- WHEELS -->

	<xacro:rubber_wheel name="front_right" parent="base_link" reflect="false" hq="${hq}">
		<origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
	</xacro:rubber_wheel>
  
	<xacro:rubber_wheel name="front_left" parent="base_link" reflect="true" hq="${hq}">
		<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
	</xacro:rubber_wheel>
  
	<xacro:rubber_wheel name="back_left" parent="base_link" reflect="true" hq="${hq}">
		<origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
	</xacro:rubber_wheel>
  
	<xacro:rubber_wheel name="back_right" parent="base_link" reflect="false" hq="${hq}">
		<origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
	</xacro:rubber_wheel>



	<!-- SENSORS -->

    <!-- Hokuyo laser sensors can be parametized with min_angle and max_angle e.g: -->
    <!--xacro:sensor_hokuyo_utm30lx name="hokuyo_base" parent="base_link" min_angle="2.35" max_angle="-2.35"-->
  
    <xacro:sensor_hokuyo_ust10lx name="hokuyo_front" parent="base_link">
		<origin xyz="0.376997 -0.210571 0.218585" rpy="0 0 ${-PI/4}"/>
	</xacro:sensor_hokuyo_ust10lx>
	
	<xacro:sensor_hokuyo_ust10lx name="hokuyo_rear" parent="base_link">
		<origin xyz="-0.376997 0.210571 0.218585" rpy="0 0 ${-PI/4}"/>
	</xacro:sensor_hokuyo_ust10lx>
	
	<xacro:sensor_axis_m5013 name="camera_front" parent="base_link">
		<origin xyz="0.3085 0.1408 0.208585" rpy="0 ${PI/2} 0"/>
	</xacro:sensor_axis_m5013>
	
	<xacro:sensor_axis_m5013 name="camera_rear" parent="base_link">
		<origin xyz="-0.3085 -0.1408 0.208585" rpy="0 ${-PI/2} 0"/>
	</xacro:sensor_axis_m5013>
  
	<xacro:sensor_imu name="imu" parent="base_link">
		<origin xyz="-0.18 0.0 0.170" rpy="0 0 0"/>
	</xacro:sensor_imu>
 
  <!-- ARM -->
  <xacro:ur5_robot prefix="arm_" joint_limited="false">
  </xacro:ur5_robot>
  
  <joint name="arm_base_joint" type="fixed">
    <parent link="base_link" />
    <child link = "arm_base_link" />
    <origin xyz="0.175 0 0.301585" rpy="0.0 0.0 0.0" />
  </joint>  
	
</robot>

